---
import { getCollection } from 'astro:content';

import Html from '../components/BaseHtml.astro';
import Footer from '../components/Footer.astro';

const [homeEntry] = await getCollection('home');
const info = homeEntry.data;

function cleanUrl(url: string) {
	return url
		.replace(/https?:\/\//, '')
		.split('/')
		.pop();
}
---

<Html class='max-w-2xl min-h-screen mx-auto px-6 sm:px-8 grid'>
	<header>
		<h1 class='text-white'>{info.name}</h1>
		<p class='opacity-65'>{info.role} at {info.location}</p>
	</header>

	<main class='space-y-12'>
		<section class='space-y-4'>
			<h2 class='opacity-85'>Contact</h2>
			<div class='grid grid-cols-auto-w-48 gap-4'>
				{
					info.contact.map(({ label, value }) => {
						const val = value.value ?? '';
						const isLink = value.discriminant === 'link';
						const Tag = isLink ? 'a' : 'div';

						return (
							<Tag class='flex flex-col group' href={isLink ? val : undefined}>
								<span class='opacity-65'>{label}</span>
								{isLink ? (
									<div class='flex flex-row space-x-1 group-hover:(underline underline-offset-4 decoration-gray-500)'>
										<span>{cleanUrl(val)}</span>
										<span class='i-lucide-arrow-up-right' />
									</div>
								) : (
									<span class='block'>{val}</span>
								)}
							</Tag>
						);
					})
				}
			</div>
		</section>

		<section class='space-y-4'>
			<h2 class='opacity-85'>About Me</h2>
			<p>{info.about}</p>
		</section>
	</main>

	<Footer />

	<style>
		body {
			grid-template-areas: 'header' 'main' 'footer';
			grid-template-rows: 10rem minmax(0, 1fr) 3rem;
			grid-template-columns: minmax(0, 1fr);
		}

		header {
			align-self: center;
			grid-area: header;
		}
		main {
			grid-area: main;
		}
		footer {
			grid-area: footer;
		}
	</style>
</Html>
