---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const currentYear = new Date().getFullYear();
const info = {
	name: 'Muhammad Yusuf',
	role: 'Software Engineer',
	location: 'Indonesia',
	contact: [
		{
			label: 'Twitter',
			value: 'https://twitter.com/iamyuu027'
		},
		{
			label: 'Telegram',
			value: 'https://telegram.me/iamyuu027'
		},
		{
			label: 'GitHub',
			value: 'https://github.com/iamyuu'
		},
		{
			label: 'CV',
			value: 'https://read.cv/iamyuu'
		},
		{
			label: 'Email',
			value: 'yusuf@iamyuu.dev'
		},
	],
	about: 'I\'m software engineers who love to learn how things work. In love with software engineering with a strong passion to learn new things. Not a fan of any framework out there. Starting a career as a back-end developer and currently focusing on front-end engineering.'
}
---

<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body class="max-w-2xl space-y-12 mt-12 lg:mt-24 mx-auto px-6 sm:px-8 overscroll-none">
	<header>
		<h1 class="text-white">{info.name}</h1>
		<p class="opacity-65">{info.role} at {info.location}</p>
	</header>

	<main class="space-y-12">
		<section class="space-y-4">
			<h2 class="opacity-85">Contact</h2>

			<div class="grid grid-cols-auto-w-48 gap-4">
				{info.contact.map((c) => {
					const isLink = c.value.startsWith("http")
					const Tag = isLink ? "a" : "div"

					return (
						<Tag class="flex flex-col group" href={isLink ? c.value : undefined}>
							<span class="opacity-65">{c.label}</span>
							{isLink ? (
								<div class="flex flex-row space-x-1 group-hover:(underline underline-offset-4 decoration-gray-500)">
									<span>{c.value.replace("https://", "").split("/")[1]}</span>
									<span class="i-lucide-arrow-up-right" />
								</div>
							) : (
								<span class="block">{c.value}</span>
							)}
						</Tag>
					)
				})}
			</div>
		</section>

		<section class="space-y-4">
			<h2 class="opacity-85">About Me</h2>
			<p>{info.about}</p>
		</section>
	</main>

	<footer class="text-center">
		<small>
			&copy; <time datetime={currentYear.toString()}>{currentYear}</time> Muhammad Yusuf.
			Website built using Astro & UnoCSS (<a class="hover:(underline underline-offset-4 decoration-gray-500)" href="https://github.com/iamyuu/iamyuu">view source</a>).
		</small>
	</footer>
</body>
</html>
